<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776778661694-91kf58nghokpog0fphuq47g1qiiaa3b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776778661694-91kf58nghokpog0fphuq47g1qiiaa3b4</string>
	<key>API_KEY</key>
	<string>AIzaSyCjHYBUd7cfKwZDyz63wSmbAusx0natYJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>776778661694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-f2036</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-f2036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776778661694:ios:6344492b6061f0ffcff66f</string>
</dict>
</plist>